<div class="image-section">
    <% if (item.photos.length){ %>
      <% item.photos.forEach(function(photo){ %>
        <img src="<%- photo %>">
      <% }); %>
    <% } else { %>
      <img src="<%- item.photos %>">
    <% } %>
</div>
